.book-image {
  width: 200px;
  height: 298.4px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  
}



.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 17px;
  margin: 20px;
}

.author {
  font-family: sans-serif;
  font-size: 15px;
  margin: 20px;
}

.add-to-cart-button {
  background: rgb(217, 38, 76);
  width: 110px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-color: rgb(217, 38, 76);
  border-style: solid;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  transition: opacity 0.15s;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background: white;
  border-color: rgb(217, 38, 76);
  color: rgb(217, 38, 76);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.20);
}

.add-to-cart-button:active {
  opacity: 0.5;
}

