/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
/* img,
video {
  height: auto;
  max-width: 100%;
} */

/* img {
  width: 200px;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
} */

.header {
 height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side {
  height: 130px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}

.website-icon {
  height: 150px;
}

.shopping-cart-icon {
  height: 50px;
  display: flex;
  align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}




button {
 background-color: rgb(253, 218, 121);
  font: 30px;
}

p {
  color: red;
}

