/* a minimalist set of CSS resets */

/* default to border-box */
/* html {
  box-sizing: border-box;
  font-size: 16px;
} */

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

/* adjust typography defaults */
/* body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
} */

/* images and videos max out at full width */
/* img,
video {
  height: auto;
  max-width: 100%;
} */

/* img {
  width: 200px;
  border-radius: 4px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
} */

.header {
 height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side {
  height: 130px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}

.website-icon {
  height: 150px;
}

.middle-section {
  flex: 1;
    margin-left: 35px;
    margin-right: 35px;
    max-width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}



.open-sans-search-box {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.search-box {
  flex:1;
  border:none;
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  font-size:20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 100px;
  margin-top: 15px;
  width: 0;
}

.shopping-cart-icon {
  height: 50px;
  display: flex;
  align-items: center;
    margin-left: 40px;
    margin-top: 10px;
}

.search-icon {
  height: 30px;
}

